{% extends 'bases/base.html' %}{%load static%}
{% block title %}BARBAS{% endblock%}

{%block content %}

<div id="portafolio">
    <div class="container">
        <h2 class="text-center letra">BARBAS</h2>
        <div class="row">
            <div class="col-md-4">
                <img style="height: 60vh; width: 65vh ; margin: 1em; " src="{% static 'img/barba-delineada.jpg' %} ">
            </div>
            <div class="col-md-4">
                <img  style="height: 60vh; width: 65vh ; margin: 1em;" src="{% static 'img/barba.jpg' %} ">
            </div>
            <div class="col-md-4">
                <img  style="height: 60vh; width: 65vh ; margin: 1em; "src="{% static 'img/barba1-1.jpg' %} ">
            </div>
            <div class="col-md-4">
                <img  style="height: 60vh; width: 65vh ; margin: 1em;" src="{% static 'img/barba1.jpg' %} ">
            </div>
            <div class="col-md-4">
                <img  style="height: 60vh; width: 65vh ; margin: 1em; " src="{% static 'img/barba2.jpg' %} ">
            </div>
            <div class="col-md-4">
                <img  style="height: 60vh; width: 65vh ; margin: 1em; " src="{% static 'img/barba3.jpg' %} ">
            </div>
            <div class="col-md-4">
                <img  style="height: 60vh; width: 65vh ; margin: 1em; " src="{% static 'img/barba5.png' %} ">
            </div>
            <div class="col-md-4">
                <img  style="height: 60vh; width: 65vh ; margin: 1em; " src="{% static 'img/barba6.jpg' %} ">
            </div>
            <div class="col-md-4">
                <img  style="height: 60vh; width: 65vh ; margin: 1em;" src="{% static 'img/barba7.jpg' %} ">
            </div>
            <div class="col-md-4">
                <img  style="height: 60vh; width: 65vh ; margin: 1em; " src="{% static 'img/barba8.jpg' %} ">
            </div>
            <div class="col-md-4">
                <img  style="height: 60vh; width: 65vh ; margin: 1em; " src="{% static 'img/barba9.jpg' %} ">
            </div>
            <div class="col-md-4">
                <img  style="height: 60vh; width: 65vh ; margin: 1em; " src="{% static 'img/barba10.jpg' %} ">
            </div>
        </div>
    </div>

</div>
{%endblock%}