{% extends 'bases/base.html' %}{%load static%}
{% block title %}TINTURAS{% endblock%}

{%block content %}

<div id="portafolio">
    <div class="container">
        <h2 class="text-center letra">TINTURA</h2>
        <div class="row">
            <div class="col-md-4">
                <img style="height: 60vh; width: 65vh ; margin: 1em; " src="{% static 'img/tinte1.jpg' %} ">
            </div>
            <div class="col-md-4">
                <img  style="height: 60vh; width: 65vh ; margin: 1em;" src="{% static 'img/tinte2.jpg' %} ">
            </div>
            <div class="col-md-4">
                <img  style="height: 60vh; width: 65vh ; margin: 1em; "src="{% static 'img/tinte3.jpg' %} ">
            </div>
            <div class="col-md-4">
                <img  style="height: 60vh; width: 65vh ; margin: 1em;" src="{% static 'img/tinteArcoiris.jpg' %} ">
            </div>
            <div class="col-md-4">
                <img  style="height: 60vh; width: 65vh ; margin: 1em; " src="{% static 'img/tinteAzul.jpg' %} ">
            </div>
            <div class="col-md-4">
                <img  style="height: 60vh; width: 65vh ; margin: 1em; " src="{% static 'img/tinteBlanco.png' %} ">
            </div>
            <div class="col-md-4">
                <img  style="height: 60vh; width: 65vh ; margin: 1em; " src="{% static 'img/tintePuntasRojas.jpg' %} ">
            </div>
            <div class="col-md-4">
                <img  style="height: 60vh; width: 65vh ; margin: 1em; " src="{% static 'img/tinte5.jpg' %} ">
            </div>
            <div class="col-md-4">
                <img  style="height: 60vh; width: 65vh ; margin: 1em;" src="{% static 'img/tinre6.jpg' %} ">
            </div>
            <div class="col-md-4">
                <img  style="height: 60vh; width: 65vh ; margin: 1em; " src="{% static 'img/tinte7.jpg' %} ">
            </div>
            <div class="col-md-4">
                <img  style="height: 60vh; width: 65vh ; margin: 1em; " src="{% static 'img/tinte8.jpg' %} ">
            </div>
            <div class="col-md-4">
                <img  style="height: 60vh; width: 65vh ; margin: 1em; " src="{% static 'img/tinte9.jpg' %} ">
            </div>
        </div>
    </div>

</div>
{%endblock%}